<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zaratech.smartcatalogue"
    android:versionCode="1"
    android:versionName="0.0.22" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        
        <!-- Listado de productos -->

        <activity
            android:name=".aplicacion.ListaProductos" >
            
            <intent-filter>
                
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        
        <!-- Búsqueda de productos -->

        <activity
            android:name=".aplicacion.Busqueda"
            android:label="@string/titulo_activity_busqueda" >
        </activity>

        
        <!-- Edición de productos -->

        <activity
            android:name=".aplicacion.InsertModificationProduct"
            android:label="@string/titulo_activity_insert_modification_product" >
        </activity>
        
        
        <!-- Envío de pedidos -->

        <activity
            android:name=".aplicacion.EnvioPedido"
            android:label="@string/titulo_activity_envio_pedido" >
        </activity>

        
        <!-- Información de productos -->

        <activity
            android:name=".aplicacion.InfoProducto"
            android:label="@string/titulo_activity_info_producto" >
        </activity>
    </application>

</manifest>