<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="0.1.13" package="com.zaratech.smarket">

    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="22"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>   
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:allowBackup="false" android:icon="@drawable/smarket" android:label="@string/app_titulo" android:theme="@style/AppTheme">

        <!-- Listado de productos -->

        <activity android:launchMode="singleTask" android:name="com.zaratech.smarket.aplicacion.ListaProductos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Busqueda de productos -->

        <activity android:label="@string/busqueda_titulo" android:name="com.zaratech.smarket.aplicacion.BusquedaProducto">
        </activity>

        <!-- Edicion de productos -->

        <activity android:label="@string/edicion_titulo_crear" android:name="com.zaratech.smarket.aplicacion.EdicionProducto">
        </activity>

        <!-- Envio de pedidos -->

        <activity android:label="@string/envio_titulo" android:name="com.zaratech.smarket.aplicacion.EnvioPedido">
        </activity>

        <!-- Informacion de productos -->

        <activity android:label="@string/info_titulo" android:name="com.zaratech.smarket.aplicacion.InfoProducto">
        </activity>
    </application>

</manifest>